
body {
    margin: 0;
    margin-top: -10px;
}

.full-website {
    margin: 0;

}

.article {
    display: flex;
    color: white;
    vertical-align: 53px;
    font-size: 18px;
    word-spacing: 10px;
    display: inline;
    margin-left: 5%;
    text-decoration: none;

}

.article-hover {
    transition: all 0.2s ease-in-out;
}

.article-hover:hover {
    color: grey;
    cursor: pointer;
}
.about-top:hover{
    color: grey;
}
.home-hover {
    transition: all 0.2s ease-in-out;
}

.home-hover:hover {
    color: grey;
    cursor: pointer;

}

.top-title {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;

}

.top-title ul {
    list-style: none;
    display: flex;
}

.top-title ul li {
    padding: 10px 20px;
    position: relative;
}

.top-title ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s;
}

.top-title ul li a:hover {
    color: var(--color-primary);
}

#title {
    margin-inline-end: 20px;
    border: solid;
    border-width: 1px;
    border-radius: px;
    border-color: #4c3323;
}

.nav-bar {
    height: 35px;
    background-color: lightgrey;
    width: 30%;
    display: flex;
   
}
.navi-bar{
    background-color:lightgrey;
    height: 35px;
    display: flex;
}

.search-bar {
    
    width: 30%;
    height: 35px;
   
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 20px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.08);
    background-color: rgb(177, 172, 172);
    
}


.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
    padding-left: 0.5em;

}

.search-button {
    height: 35px;
    width: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: lightgrey;
    margin-left: -20px;


}

.search-icon {
    height: 25px;
}

.black-line {
    display: grid;
    grid-template-columns: 88% 7% 5%;
    
}

.home {
    height:40px;
    background-color: rgb(87, 86, 86);
    word-spacing: 1em;
}

.home-text {
    color: white;
    font-size: 16px;
    margin-top: 0px;
    margin-block-end: 0;
    padding-left: 15px;
    padding-top: 12px;
    font-weight: 500;
}

.login-grid {
    color: white;
    font-size: 18px;
    margin-top: 0px;
    background-color: rgb(87, 86, 86);
    padding-top: 0;
    height: 40px;
}

.login-button {
    transition: all 0.2s ease-in-out;
}

.login-button:hover {
    color: grey;
    cursor: pointer;
}

.my-account-icon {
    background-color: rgb(87, 86, 86);
    height: 40px;
}

.my-account {
    border: solid;
    border-width: 0.5px;
    border-radius: 19px;
    border-color: black;
    height: 38px; 
}
.quote{
    position: absolute;
    left: 8%;
    top: 45%;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Permanent Marker', cursive;
    color: rgb(205, 181, 181);
    
}

.practice {
    position: absolute;
    margin-left: 50%;
    height: 37%;
    width: 18%;
    border: solid;
    border-width: 3px;
    border-color: rgb(119, 120, 120);
    background-color: rgb(176, 176, 176);
    top : 400px;
    right: 250px;

}

.selection {
    background-color: rgb(234, 217, 217);
    width: 70px;
    font-size: 17px;
    font-weight: 400;
}
.words{
    font-size: 18px;
    font-weight: 500;
}

.select {
    padding-left: 5px;
    
}
.selectg {
    padding-left: 5px;
    margin-bottom: 60px;
}

.page-one {
    background-color: lightgrey;
    height: 600px;
    margin-bottom: 0px;
    /* background-image: url("photos/slider3.png"); */
    
}

.paragraph {
    padding-top: 25px;
    font-style: Roboto, Arial, Sans-Serif;
    color: brown;
}

.practice-now {
    color: rgb(31, 29, 29);
    font-size: 27px;
    font-weight: bolder;
    padding-left: 17%;
    margin-top: 0;
    padding-top: 10;
    margin-bottom: 40px;
}



a {
    padding: 4px 8px;
    transition: 1.5s cubic-bezier(0.39, 0.5, 0.15, 1.5);


}

a.button {
    margin-left: 33%;
    font-size: large;
    font-weight: bold;
    border: solid;
    border-width: 2px;
    background-color: rgb(183, 174, 174);
    color: black;
    box-shadow: rgb(30, 99, 160) 0 0 0 1px inset;
}

a.button:hover {
    color: white;
    box-shadow: rgb(30, 99, 160) 0 0 0 15px inset;
}

.pagetwo-content {
    width: 75%;
    background-color:  rgb(214, 210, 210);
    margin-left: 12%;
    padding-top: 10px;
}
.page-two{
    background-color: rgb(214, 210, 210);
    height: 750px;    
    margin-top: -20px ;
    
}

.third-page{
    margin-top: -35px;
}

.select-video-language {
    font-size: 20px;
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
}
.select-videolanguage{
    font-size: 16px;
    background-color:rgb(143, 149, 145);
    font-weight: 600;
}
.watch-video {
    font-size: 30px;
    color: rgb(25, 24, 24);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 20px;
}
.videos-headline{
    height: 8%;
}

.video-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 92%;

}

.copyright {
    background-color: rgb(112, 113, 114);

}

.copyright-center {
    color: black;
    margin-left: 35%;
    font-size: 16px;
    word-spacing: 0.4em;
}

.video-title {
    font-size: 16px;
    font-weight: 550;
    color: black;
    font-family: Roboto, Arial, Sans-Serif;
    margin-left: 8px;
}

.video-statistics {
    color: rgb(1, 1, 1);
    font-size: 12px;
    font-family: Roboto, Arial, Sans-Serif;
    opacity: 0.7;
    font-weight: 550;
    margin-left: 8px;
    margin-bottom: 10px;
}

.lastpage{
   
    background-color:  rgb(179, 177, 177);
    margin-top: -16px;
    height: 400px;
    width: 100%;
}
.blocks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.block-one{
    margin-top: 140px;
    margin-left: 80px;
}
.talklingo-lastpage{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: rgb(58, 58, 58);
}
.quotebelow-talklingo{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: rgb(88, 88, 88);
}
.quotebelow-talklingo:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.block-two{
    margin-top: 140px;
    margin-left: 140px;
}
.block-twodata{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: rgb(88, 88, 88);
}
.block-twodata:hover{
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.follow{
    font-size: 14px;
    font-weight: 300;
    margin-left: 8%;
    margin-bottom: 8px;
}
.fa {
    width: 30px;
    text-decoration: none;    
  }
  .fa-github{
    background-color: rgb(179, 177, 177);
    color:rgb(2, 71, 55);    
  }
  .fa-twitter {
    background-color: rgb(179, 177, 177);
    color:rgb(8, 102, 217);    
  }
  .fa-linkedin {
    background-color: rgb(179, 177, 177);
    color:rgb(7, 90, 192);    
  }
  .fa-github:hover{
    color: black;
    transition: all 0.2s ease-in-out;
  }
  .fa-twitter:hover {
    color: black;
    transition: all 0.2s ease-in-out; 
  }
  .fa-linkedin:hover {
    color: black;
    transition: all 0.2s ease-in-out;
  }
  .block-three{
    margin-top: 140px;
    margin-left: 80px;
}

/* code for animation .......start */
.animation-code{
    position: absolute;
    left: 4%;
    top: 33%;
}

#container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    transform-style: preserve-3d;
    animation: spin 8s linear infinite;
  }

  .shape {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
  }

  #shape1 {
    top: 50%;
    left: 0;
    border-radius: 50%;
    transform: translateX(-50%) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  #shape2 {
    top: 0;
    left: 50%;
    background-color: blue;
    border-radius: 0;
    transform: translateX(-50%) translateY(-50%) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }

  #shape3 {
    top: 100%;
    left: 50%;
    background-color: green;
    border-radius: 0;
    transform: translateX(-50%) translateY(-50%) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }

  #shape4 {
    top: 50%;
    left: 100%;
    background-color: yellow;
    border-radius: 0;
    transform: translateX(-50%) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  }

  @keyframes spin {
    from {
      transform: rotateY(0deg) rotateZ(0deg);
    }
    to {
      transform: rotateY(360deg) rotateZ(720deg);
    }
    @keyframes move {
        0% {
          transform: translate(0, 0);
        }
        50% {
          transform: translate(50px, 50px);
        }
        100% {
          transform: translate(0, 0);
        }
      }
  
  
/* end of animatin code */
